#background {
    height: 725px;
    background-color: rgb(181, 180, 178);
}
.home-grid {
    display: grid;
    grid-template-columns: 10px 10px;
}
h1{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    font-family: "Dancing Script",'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 15em;
    margin-top: 10px;
    margin: 0 auto;
    text-align: center; 
}
p{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    font-size: 12em;
    color: rgb(124, 30, 30);
    margin-top: 10px;
}
img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 800px;
    padding-top: 10px;
}
div{
    grid-column: 2/3;
    grid-row: 1/3;
}

