
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital@1&display=swap');

#content {
    max-width: 1600px;
    margin: o auto;
}
.home-title {
    font-family: "Dancing Script",'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 3em;
    margin-top: 10px;
    color: white;
}
.book , .join {
    font-family:  Roboto, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 2em;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #6f7364;
    opacity: .6;
    
}
.book:hover, .join:hover {
    background-color: black;
    color: white;
} 
.card-img, .mountains {
    width: 100%;    
}
.card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rapids-card{
    width: 100%;
    margin: 200px 0;
} 
.rivers-card, .camping-card {
    width: 100%;
    margin: 200px 0;
} 
footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #6f7364;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.msg {
    font-family:  Roboto, Helvetica, sans-serif;
    font-size:  1.2em;
    padding: 35px;
    justify-content: space-around;
    align-items: center;
}
.p {
    font-family:  Roboto, Helvetica, sans-serif;
    font-size: 2em;
    padding: 15px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    }
footer, .social, .img {
    padding-top: 15px;
}
footer {
    background-color: rgb(152, 156, 159);
    color: white;
    padding: 10px;
}
nav a{
    padding: 35px;
    text-decoration: none;
    color: white;
}
footer p {
    font-size: 1.2em;
    margin: 20px auto;
}
nav a:hover {
    background-color: black;
    color: rgb(242, 244, 246);

}
main section{
    margin: 0 auto;
    text-align: center; 
    color: black;
}
main section img{
    box-sizing: border-box;
}
nav {
    margin: 0 auto;
    text-align: center; 
    color: white;
}
#hero-msg h1{
    margin: 0 auto;
    text-align: center; 
    color: white;
}
#hero-msg h4{
    margin: 0 auto;
    text-align: center; 
    justify-self: center;
    align-self: center;
    color: white;
}
.button-box{
    margin: 0 auto;
    text-align: center;
    color: black; 
}
#background {
    height: 725px;
    background-color: rgb(183, 109, 19);
}
footer p a:hover {
    text-decoration: underline;
}
body{
    background-color: #fcfbfb ;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin:0;
    padding:0;
}
h2 {
    margin: 0;
}
header{
    background-color: rgb(85, 79, 79);
    font-family: "Dancig Script";
    opacity: .6;
}
.msg{
    background-color: rgb(152, 156, 159);
    color: white;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
    }
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
footer p a:hover {
    text-decoration: underline;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
main .home-grid{
    display: grid;
    grid-template-columns: 10fr;
}
#hero-img {
    width: 100%;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
/*css page 2*/
#hook-msg h1{
    margin: 0 auto;
    text-align: left; 
    color: #0948b3 ;
    margin-left: 1em;
}
#hook-msg h4{
    margin: 0 auto;
    text-align: left; 
    justify-self: center;
    align-self: center;
    color: #0948b3 ;
    margin-left: 3em;
}
#hook-img {
    width: 100%;
    height: 80%;
} 
#hook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
}
#hook-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
}
#hook-box {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: -1;
}     
.river-canyon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}    
.river-card {
    grid-column: 2/3;
    grid-row: 1/2;
} 
.river-para {
    grid-column: 1/2;
    grid-row: 1/2;
}
.canyon-card {
    grid-column: 1/2;
    grid-row: 2/3;
}
.canyon-para {
    grid-column: 2/3;
    grid-row: 2/3;
}
.canyon-img, .river-card{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}



